<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/image.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navigation-part">
    <div class="logo">
        <img src="/images/avatar.png" alt="Logo" class="logo-image">
    </div>
    <div class="navigation-bar">
        <div class="navigation-bar-item">
            <a href="/" class="href-link">
                Home
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/about" class="href-link">
                About
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/quiz" class="href-link">
                Quiz
            </a>
        </div>
    </div>
</nav>
<div class="image-part">
    <img src="/images/intro_image.png" alt="Miku-Introduction Page" class="responsive-banner">
    <div class="banner-overlay">
        <h1 class="banner-title">Hongyu "Markyan04" Yan</h1>
    </div>
</div>
<div class="content-root">

</div>
<div class="footer-part">
    <div class="footer-text">
        <img src="/images/avatar.png" alt="Avatar">
        <span>Markyan04</span>
        <div>hongyu.yan@163.com</div>
    </div>
    <div class="classification-text">
        <div>
            Copyright © 2025 Markyan04 Blog
        </div>
        <div>
            All Rights Reserved
        </div>
    </div>
</div>
</body>
</html>