<!DOCTYPE html>
<html lang="en">
<head>
    <title>Introduction</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/intro/image.css">
    <link rel="stylesheet" href="/stylesheets/intro/intro.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navigation-part">
        <div class="logo">
            <img src="/images/avatar.png" alt="Logo" class="logo-image">
        </div>
        <div class="navigation-bar">
            <div class="navigation-bar-item">
                <a href="/" class="href-link">
                    Home
                </a>
            </div>
            <div class="navigation-bar-item">
                <a href="/about" class="href-link">
                    About
                </a>
            </div>
            <div class="navigation-bar-item">
                <a href="/quiz" class="href-link">
                    Quiz
                </a>
            </div>
        </div>
    </nav>
    <div class="image-part">
        <img src="/images/intro_image.png" alt="Miku-Introduction Page" class="responsive-banner">
        <div class="banner-overlay">
            <h1 class="banner-title">Hongyu "Markyan04" Yan</h1>
        </div>
    </div>
    <div class="content-root intro-root">
        <div class="left-content-box">
            <div class="intro-text">
                <h1>Introduction</h1>
                <li>Welcome to the introduction page! I'm <b>Hongyu "Markyan04" Yan</b>, a passionate tech enthusiast from Shenzhen, Guangdong, China.</li>
                <li>I'm currently a second-year Software Engineering student at South China Normal University and University of Aberdeen.</li>
                <li>If you wish to learn more about me, you can visit the following articles which from my blog, or directly visit my blog website
                    <b><a href="http://markyan04.cn">markyan04.cn</a></b>
                </li>
            </div>
            <div class="article-list">
            
            </div>
        </div>
        <div class="right-content-box">
            <div class="avatar-box">
                <div class="avatar-image">
                    <img src="/images/avatar.png" alt="Avatar" class="avatar-image">
                </div>
                <div class="name-text">
                    Markyan04 Blog
                </div>
                <div class="contact-info-list">
                    <a href="https://github.com/Markyan04">
                        <img src="/images/github-avatar.svg" alt="GitHub" class="contact-icon">
                    </a>
                    <a href="https://space.bilibili.com/385334598">
                        <img src="/images/bilibili-avatar.svg" alt="Bilibili" class="contact-icon">
                    </a>
                    <a href="mailto:hongyu.yan@163.com">
                        <img src="/images/email-avatar.svg" alt="Email" class="contact-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>