<!DOCTYPE html>
<html lang="en">
<head>
    <title>Introduction</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/image.css">
    <link rel="stylesheet" href="/stylesheets/introduction/intro.css">
    <link rel="stylesheet" href="/stylesheets/introduction/article-box.css">
    <link rel="stylesheet" href="/stylesheets/introduction/contact-box.css">
    <link rel="stylesheet" href="/stylesheets/introduction/avatar-box.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navigation-part">
        <div class="logo">
            <img src="/images/avatar.png" alt="Logo" class="logo-image">
        </div>
        <div class="navigation-bar">
            <div class="navigation-bar-item">
                <a href="/" class="href-link">
                    Home
                </a>
            </div>
            <div class="navigation-bar-item">
                <a href="/about" class="href-link">
                    About
                </a>
            </div>
            <div class="navigation-bar-item">
                <a href="/quiz" class="href-link">
                    Quiz
                </a>
            </div>
        </div>
    </nav>
    <div class="image-part">
        <img src="/images/intro_image.png" alt="Miku-Introduction Page" class="responsive-banner">
        <div class="banner-overlay">
            <h1 class="banner-title">Hongyu "Markyan04" Yan</h1>
        </div>
    </div>
    <div class="content-root intro-root">
        <div class="left-content-box">
            <div class="intro-text">
                <h1>Introduction</h1>
                <menu>
                    <li>Welcome to the introduction page! I'm <b>Hongyu "Markyan04" Yan</b>, a passionate tech enthusiast from Shenzhen, Guangdong, China.</li>
                    <li>I'm currently a second-year Software Engineering student at South China Normal University and University of Aberdeen.</li>
                    <li>If you wish to learn more about me, you can visit the following articles which from my blog, or directly visit my blog website
                        <b><a href="http://markyan04.cn">markyan04.cn</a></b>. The following articles are my most recent posts on my blog.
                    </li>
                </menu>
            </div>
            <div class="article-list">
                <div class="article-item">
                    <div class="article-classify">
                        <div class="main-classify">
                            Information technology
                        </div>
                        <div class="sub-classify">
                            <div class="sub-classify-item">
                                Front-end Dev
                            </div>
                            <div class="sub-classify-item">
                                Back-end Dev
                            </div>
                            <div class="sub-classify-item">
                                Mobile Dev
                            </div>
                        </div>
                    </div>
                    <a class="article-title" href="http://markyan04.cn/archives/4">
                        Random Talk on the Development Technology stack
                    </a>
                    <div class="article-summary">
                        A few days ago, a few classmates came over to ask what practical skills were worth learning for software development positions, because what was taught at school was either too theoretical...
                    </div>
                    <div class="article-published-at">
                        <div>Published At: 2025-04-20</div>
                        <div>Powered By: markyan04.cn</div>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-classify">
                        <div class="main-classify">
                            Information technology
                        </div>
                        <div class="sub-classify">
                            <div class="sub-classify-item">
                                Front-end Dev
                            </div>
                        </div>
                    </div>
                    <a class="article-title" href="http://markyan04.cn/archives/3">
                        How to solve request dependency and callback hell
                    </a>
                    <div class="article-summary" >
                        The background of the problem: We envision such a scenario. Now we need to implement a function that enables users to view the available reservation Spaces and determine which Spaces they can reserve...
                    </div>
                    <div class="article-published-at">
                        <div>Published At: 2025-04-20</div>
                        <div>Powered By: markyan04.cn</div>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-classify">
                        <div class="main-classify">
                            Information technology
                        </div>
                        <div class="sub-classify">
                            <div class="sub-classify-item">
                                Front-end Dev
                            </div>
                            <div class="sub-classify-item">
                                Back-end Dev
                            </div>
                        </div>
                    </div>
                    <a class="article-title" href="http://markyan04.cn/archives/2">
                        Year-end Summary of 2024 - Part1
                    </a>
                    <div class="article-summary" >
                        When I was just about to start writing, I felt that 2024 seemed to be another unremarkable year. But as my thoughts moved forward step by step, I found that there were still quite a few stories...
                    </div>
                    <div class="article-published-at">
                        <div>Published At: 2025-04-20</div>
                        <div>Powered By: markyan04.cn</div>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-classify">
                        <div class="main-classify">
                            Information technology
                        </div>
                        <div class="sub-classify">
                            <div class="sub-classify-item">
                                Back-end Dev
                            </div>
                        </div>
                    </div>
                    <a class="article-title" href="http://markyan04.cn/archives/1">
                        Java Programming: Dynamic type? OR Static type?
                    </a>
                    <div class="article-summary">
                        Starting with an example problem, it is introduced that when the Java compiler encounters method overriding and method overwriting, it will handle the overriding in a dynamic binding manner...
                    </div>
                    <div class="article-published-at">
                        <div>Published At: 2025-04-20</div>
                        <div>Powered By: markyan04.cn</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content-box">
            <div class="avatar-box">
                <div class="avatar-image">
                    <img src="/images/avatar.png" alt="Avatar" class="avatar-image">
                </div>
                <div class="name-text">
                    Markyan04 Blog
                </div>
                <div class="blog-info">
                    <div class="number-of-articles">
                        <div class="number-section">
                            4
                        </div>
                        <div class="text-section">
                            Articles
                        </div>
                    </div>
                    <div class="number-of-visitors">
                        <div class="number-section">
                            345
                        </div>
                        <div class="text-section">
                            Visitors
                        </div>
                    </div>
                </div>
                <div class="contact-info-list">
                    <a href="https://github.com/Markyan04">
                        <img src="/images/github-avatar.svg" alt="GitHub" class="contact-icon">
                    </a>
                    <a href="https://space.bilibili.com/385334598">
                        <img src="/images/bilibili-avatar.svg" alt="Bilibili" class="contact-icon">
                    </a>
                    <a href="mailto:hongyu.yan@163.com">
                        <img src="/images/email-avatar.svg" alt="Email" class="contact-icon">
                    </a>
                </div>
                <div class="attached-info">
                    Powered By: markyan04.cn
                </div>
            </div>
            <div class="contact-box">
                <div class="contact-section">
                    <div class="contact-line-1">
                        <img src="/images/contact.svg" alt="Contact" class="contact-icon-transparent">
                        <span class="platform-username">Contact Information</span>
                    </div>
                </div>
                <div class="contact-section">
                    <div class="contact-line-1">
                        <img src="/images/github-avatar.svg" alt="GitHub" class="contact-icon-transparent">
                        <img src="/images/avatar.png" alt="Avatar" class="contact-icon-transparent">
                        <span class="platform-username">Markyan04</span>
                    </div>
                    <div class="contact-line-2">
                        <div class="platform-url"><a href="https://github.com/Markyan04">https://github.com/Markyan04</a></div>
                    </div>
                </div>
                <div class="contact-section">
                    <div class="contact-line-1">
                        <img src="/images/bilibili-avatar.svg" alt="Bilibili" class="contact-icon-transparent">
                        <img src="/images/avatar.png" alt="Avatar" class="contact-icon-transparent">
                        <span class="platform-username">初乎草庭</span>
                    </div>
                    <div class="contact-line-2">
                        <div class="platform-url"><a href="https://space.bilibili.com/385334598">https://space.bilibili.com/385334598</a></div>
                    </div>
                </div>
                <div class="contact-section">
                    <div class="contact-line-1">
                        <img src="/images/email-avatar.svg" alt="Email" class="contact-icon-transparent">
                        <img src="/images/avatar.png" alt="Avatar" class="contact-icon-transparent">
                        <span class="platform-username">hongyu.yan</span>
                    </div>
                    <div class="contact-line-2">
                        <div class="platform-url"><a href="mailto:hongyu.yan@163.com">hongyu.yan@163.com</a></div>
                        <div class="platform-url"><a href="mailto:markyan1783541507@gmail.com">markyan1783541507@gmail.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-part">
        <div class="footer-text">
            <img src="/images/avatar.png" alt="Avatar">
            <span>Markyan04</span>
            <div>hongyu.yan@163.com</div>
        </div>
        <div class="classification-text">
            <div>
                Copyright © 2025 Markyan04 Blog
            </div>
            <div>
                All Rights Reserved
            </div>
        </div>
    </div>
</body>
</html>