<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Login</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/image.css">
    <link rel="stylesheet" href="/stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/login/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
<nav class="navigation-part">
    <div class="logo">
        <img src="/images/avatar.png" alt="Logo" class="logo-image">
    </div>
    <div class="navigation-bar">
        <div class="navigation-bar-item">
            <a href="/" class="href-link">
                Home
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/about" class="href-link">
                About
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/login" class="href-link">
                Quiz
            </a>
        </div>
    </div>
</nav>
<div class="image-part">
    <img src="/images/intro_image.png" alt="Miku-Introduction Page" class="responsive-banner">
    <div class="banner-overlay">
        <h1 class="banner-title">Welcome to Quiz</h1>
    </div>
</div>
<div class="content-root">
    <div class="login-part">
        <div class="quiz-title">
            <h1>Quiz About Web Application Development</h1>
        </div>
        <div class="quiz-introduction">
            <p>
                Welcome to the online test section. You will compete with other contestants on knowledge related to Web development. There are a total of ten questions in the test. The rules are as follows
            </p>
            <p>
                1. The player who clicks the right answer faster will win the round and gets 2 points, while the opponent gets 0 points.
            </p>
            <p>
                2. Player who clicks a wrong answer will get 0 points, and the opponent will get 1 point instead.
            </p>
            <p>
                3. In the end, the winner is the player with more points.
            </p>
            <p>
                4. Each question has a 30-second answering time. If neither party answers the question within the specified time, both will receive 0 points.
            </p>
        </div>
        <div class="input-name">
            <label for="username" class="input-name-text">
                Please enter your name:
            </label>
            <input type="text" id="username" name="username" placeholder="Enter your name here" required>
            <button class="input-name-button">
                Upload
            </button>
        </div>
    </div>
</div>
<div class="footer-part">
    <div class="footer-text">
        <img src="/images/avatar.png" alt="Avatar">
        <span>Markyan04</span>
        <div>hongyu.yan@163.com</div>
    </div>
    <div class="classification-text">
        <div>
            Copyright © 2025 Markyan04 Blog
        </div>
        <div>
            All Rights Reserved
        </div>
    </div>
</div>
<script type="module" src="/javascripts/login.js"></script>
</body>
</html>