<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/image.css">
    <link rel="stylesheet" href="/stylesheets/loading.css">
    <link rel="stylesheet" href="/stylesheets/quiz/quiz.css">
    <link rel="stylesheet" href="/stylesheets/quiz/ready.css">
    <link rel="stylesheet" href="/stylesheets/quiz/question.css">
    <link rel="stylesheet" href="/stylesheets/quiz/status.css">
    <link rel="stylesheet" href="/stylesheets/quiz/result.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
<nav class="navigation-part">
    <div class="logo">
        <img src="/images/avatar.png" alt="Logo" class="logo-image">
    </div>
    <div class="navigation-bar">
        <div class="navigation-bar-item">
            <a href="/" class="href-link">
                Home
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/about" class="href-link">
                About
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/login" class="href-link">
                Quiz
            </a>
        </div>
    </div>
</nav>
<div class="image-part">
    <img src="/images/intro_image.png" alt="Miku-Introduction Page" class="responsive-banner">
    <div class="banner-overlay">
        <h1 class="banner-title">Higher, Faster, Stronger</h1>
    </div>
</div>
<div class="content-root quiz-root">
    <div class="ready-part">
        <h1 class="ready-title">Ready to Play?</h1>
        <p class="ready-text-before">
            You are now ready to play the quiz. Click the button below to start.
        </p>
        <button class="start-button start-button-before" id="start-button">Start</button>
        <p class="ready-text-after">
            You are ready. Waiting for your opponent.
        </p>
    </div>
    <div class="test-part">
        <div class="question-part">
            <h1>Question</h1>
            <div class="timer-part">
                <img src="/images/clock.svg" alt="Clock" class="clock-img">
                <span class="timer-text">
                    Time Left: <span id="timer">30</span>s
                </span>
            </div>
            <div class="question-item">
                <div class="question-text" id="question-text">
                    1. What is the order of event propagation in JavaScript?
                </div>
                <div class="option-part">
                    <div class="option-item" id="option-item-1">
                        A. Bubbling phase → Target phase → Capturing phase
                    </div>
                    <div class="option-item" id="option-item-2">
                        B. Capturing phase → Target phase → Bubbling phase
                    </div>
                    <div class="option-item" id="option-item-3">
                        C. Target phase → Capturing phase → Bubbling phase
                    </div>
                    <div class="option-item" id="option-item-4">
                        D. Capturing phase → Bubbling phase → Target phase
                    </div>
                </div>
            </div>
            <div class="operation-part">
                <button class="upload-button" id="upload-button">
                    Upload
                </button>
                <button class="ready-for-next-button" id="ready-for-next-button">
                    Ready for Next
                </button>
            </div>
            <div class="waiting-for-result">
                <span>Checking Answers...</span>
                <span>Please wait for about few seconds...</span>
            </div>
        </div>
        <div class="status-part">
            <h1>Result</h1>
            <div class="progress-container">
                <div class="progress-bar" style="width: 10%">
                    <span class="progress-text">1/10</span>
                </div>
            </div>
            <div class="result-text result-correct">
                You are correct and faster than your opponent.
            </div>
            <div class="score-part">
                <div class="score-item">
                    <span class="score-title">Points for this question:</span>
                    <span class="score-value" id="current-score">+2</span>
                </div>
                <div class="score-item">
                    <span class="score-title">Current total points</span>
                    <span class="score-value" id="total-score">2</span>
                </div>
                <div class="score-item">
                    <span class="score-title">Opponent's current total score:</span>
                    <span class="score-value" id="opponent-total-score">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="final-result-part">
        <h1>Final Result</h1>
        <div class="final-result-text">
            You are the winner!
        </div>
        <div class="final-score-part-win">
            <div class="final-score-item">
                <span class="final-score-title">Your total score:</span>
                <span class="final-score-value" id="final-total-score">0</span>
            </div>
            <div class="final-score-item">
                <span class="final-score-title">Opponent's total score:</span>
                <span class="final-score-value" id="final-opponent-total-score">0</span>
            </div>
        </div>
        <button class="back-button" id="back-button">
            Back to Matching Hall
        </button>
    </div>
</div>
<div class="footer-part">
    <div class="footer-text">
        <img src="/images/avatar.png" alt="Avatar">
        <span>Markyan04</span>
        <div>hongyu.yan@163.com</div>
    </div>
    <div class="classification-text">
        <div>
            Copyright © 2025 Markyan04 Blog
        </div>
        <div>
            All Rights Reserved
        </div>
    </div>
</div>
<script type="module" src="/javascripts/quiz.js"></script>
</body>
</html>